# custom section for test pre-commit script
.current_project

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*venv*/       # in case of a name like "hw01venv"

# pip, setuptools
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
pip-wheel-metadata/
*.manifest

# PyInstaller
*.spec

# Test/coverage artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# VSCode (can be used in parallel)
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb
*.nb.html
*.nb.json

# =========================
# Anaconda / Conda
# =========================
*.conda
*.env
*.lock
*.yml     # only if don't explicitly create environment.yml

# Jupyter backups
*.bak
*.tmp
*~         # temporary/backup files

# =========================
# system files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# user templates
# =========================
# Ignore virtual environments in each lesson (e.g. hw01/venv/)
lesson*/venv/
lesson*/env/
lesson*/.venv/


# =========================
# matplotlib cache
# =========================
.matplotlib/
